html,
body {
	font-size: 20px;
	--main-color-dark: #3a801f;
	--main-color-light: #dafcc4;
	--main-color: #afff8f;
	--main-color-t: rgba(150, 241, 150, 0.75);
	--neutral-light: #e2e2e2;
	--neutral-mid: #a0a0a0;
	--neutral-dark: #434442;
	--font-color-dark: #303030;
}

hr {
	border: 2px solid var(--neutral-mid);
}

h2 {
	font-size: 150%;
	font-weight: 500;
}

a,
a:visited {
	color: var(--main-font-color);
	text-decoration: none;
}

a:active {
	background-color: var(--neutral-light);
	color: var(--neutral-dark);
	box-shadow: 4px 2px 6px #b6b6b6;
}

input {
	font-size: 80%;
}

ul {
	padding: 0;
	list-style-type: none;
}

button {
	font-size: 80%;
	background-color: var(--main-color-light);
	border: 1px solid var(--neutral-dark);
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

input {
	border: 1px solid var(--neutral-dark);
	font-size: 100%;
	background-color: var(--main-color-light);
}

input[type='submit'] {
	cursor: pointer;
	background-color: var(--main-color-light);
}

input[type='submit']:disabled {
	cursor: auto;
	background-color: var(--neutral-light);
}

textarea {
	font-size: 90%;
	border: 1px solid var(--neutral-dark);
	background-color: var(--main-color-light);
}

select {
	font-size: 85%;
	border: 1px solid var(--neutral-dark);
	background-color: var(--neutral-light);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--neutral-dark);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: var(--neutral-mid);
}

.aplikacija {
	display: grid;
	grid-template-columns: 17% 82% 1%;
	margin-bottom: 5%;
}

.obavijest {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
	background-color: var(--main-color-t);
}

.navigacija {
	grid-template-rows: 2fr 20fr 1fr;
	text-align: center;
	position: fixed;
	height: 100%;
	width: 15%;
	background-color: var(--neutral-dark);
}

.gumb-navigacija {
	transition: 0.1s ease-in-out;
	color: var(--neutral-light);
	font-size: 115%;
	cursor: pointer;
}

.gumb-navigacija:hover {
	background-color: var(--neutral-light);
	color: var(--neutral-dark);
}

.sadrzaj {
	grid-column-start: 2;
	margin-top: 2%;
}

.blok {
	display: block;
}

.blok-small {
	width: 25%;
}

.blok-inline {
	display: inline-block;
}

.blok-podaci {
	box-sizing: border-box;
	/* width: 17vw; */
	padding: 5px;
	font-size: 90%;
	transition: 0.15s ease-in-out;
}

.blok-podaci:hover {
	box-shadow: 5px 5px 20px;
}

.centar {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
}

.tekst-center {
	text-align: center;
}
.padding-bottom-small {
	padding-bottom: 10px;
}

.padding-bottom-medium {
	padding-bottom: 50px;
}

.obrub {
	border: 2px solid var(--main-color-dark);
}

.obrub-tamno {
	border: 2px solid var(--neutral-dark);
}

.obrub-donji {
	border-bottom: 2px solid var(--main-color-dark);
}

.obrub-zaobljeno {
	border-radius: 10px;
}

.pozadina {
	background-color: var(--main-color);
}

.pozadina-neutral-svjetlo {
	background-color: var(--neutral-light);
}

.pozadina-neutral-srednje {
	background-color: var(--neutral-mid);
}

.pozadina-neutral-tamno {
	background-color: var(--neutral-dark);
}

.grid {
	display: grid;
	row-gap: 0.5%;
	column-gap: 0.5%;
}

.grid-centar {
	justify-items: center;
	align-items: center;
}

.grid-element {
	width: 90%;
}

.grid-element-small {
	width: 45%;
}

.grid-detaljno {
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% auto;
	align-items: center;
	column-gap: 0;
	row-gap: 0;
}

.grid-repeat-red {
	grid-row-gap: 3%;
	grid-auto-rows: minmax(min-content, max-content);
}

.grid-2stupca {
	grid-template-columns: 1fr 1fr;
}

.grid-4stupca {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-3stupca {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2stupca-ulijevo {
	grid-template-columns: 5fr 1fr;
}

.scrollable {
	overflow-y: auto;
	max-height: 300px;
}

.blok-podaci label {
	font-size: 85%;
	font-weight: 400;
}

.obrazac {
	box-sizing: border-box;
	width: 80%;
	padding: 1%;
	padding-bottom: 5%;
}

.detaljno {
	min-height: 80%;
	min-width: 80%;
	box-sizing: border-box;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}

.odbaci {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.prozirno {
	background-color: rgba(125, 125, 125, 0.5);
}

.margin-auto {
	margin: auto;
}

.margin-small {
	margin: 7px;
}

.ucitavanje {
	position: absolute;
	left: 50%;
	top: 45%;
	bottom: 45%;
}

.nevidljivo {
	visibility: hidden;
}

.ekipa {
	height: 125px;
}

.pretrazivanje {
	margin-bottom: 1%;
	margin-left: 1%;
}

.odabran {
	background-color: var(--main-color-dark);
}

.odabir {
	z-index: 50;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1601px) {
	html,
	body {
		font-size: 18px;
	}
}

@media only screen and (max-width: 1025px) {
	html,
	body {
		font-size: 16px;
	}

	.ekipa {
		height: 100px;
	}

	.grid-2stupca {
		grid-template-columns: 1fr;
	}

	.grid-4stupca {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 769px) {
	html,
	body {
		font-size: 14px;
	}
}
