@keyframes rotacija {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html,
body {
	font-size: 20px;
	--main-color-dark: #3a801f;
	--main-color: #afff8f;
	--neutral-light: #ddfdd0;
	--neutral-mid: #eeeeee;
	--neutral-dark: #434442;
	--font-color-dark: #303030;
}

h2 {
	font-size: 150%;
	font-weight: 500;
}

a,
a:visited {
	color: var(--main-font-color);
	text-decoration: none;
}

input {
	font-size: 80%;
}

ul {
	padding: 0;
	list-style-type: none;
}

.aplikacija {
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 1fr;
}

.obavijest {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
}

.navigacija {
	position: fixed;
	height: 100%;
	width: 15%;
	grid-column-start: 1;
	grid-column-end: 1;
	background-color: var(--neutral-dark);
}

.gumb-navigacija {
	margin-bottom: 10px;
	transition: 0.1s ease-in-out;
	color: var(--neutral-light);
	font-size: 120%;
	cursor: pointer;
}

.gumb-navigacija:hover {
	background-color: var(--neutral-light);
	color: var(--neutral-dark);
	box-shadow: 4px 2px 6px #b6b6b6;
}

.sadrzaj {
	grid-column-start: 2;
	margin-top: 50px;
}

.blok {
	display: block;
}

.blok-inline {
	display: inline-block;
}

.blok-podaci {
	box-sizing: border-box;
	width: 17vw;
	padding: 5px;
	font-size: 90%;
	transition: 0.15s ease-in-out;
}

.blok-podaci:hover {
	box-shadow: 5px 5px 20px;
}

.centar {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
}

.obrub {
	border: 2px solid var(--main-color-dark);
}

.obrub-tamno {
	border: 2px solid var(--neutral-dark);
}

.obrub-donji {
	border-bottom: 2px solid var(--main-color-dark);
}

.obrub-zaobljeno {
	border-radius: 10px;
}

.rotiranje {
	animation-name: rotacija;
	animation-duration: 3s;
}

.pozadina {
	background-color: var(--main-color);
}

.pozadina-neutral-svjetlo {
	background-color: var(--neutral-light);
}

.pozadina-neutral-srednje {
	background-color: var(--neutral-mid);
}

.pozadina-neutral-tamno {
	background-color: var(--neutral-dark);
}

.grid {
	display: grid;
	justify-items: center;
	align-items: center;
	row-gap: 1%;
}

.grid-repeat-red {
	grid-auto-rows: 20%;
}

.grid-2stupca {
	grid-template-columns: 1fr 1fr;
}

.grid-4stupca {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2stupca {
	grid-template-columns: 1fr 1fr;
}

.grid-3stupca {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2stupca-ulijevo {
	grid-template-columns: 5fr 1fr;
}

.grid-2stupca-2reda {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.grid-1red {
	grid-template-columns: 1fr 1fr 1fr;
}

.blok-podaci label {
	font-size: 85%;
	font-weight: 400;
}

.obrazac {
	width: 50%;
	margin: auto;
}

.detaljno {
	height: 80%;
	width: 80%;
	box-sizing: border-box;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}

.odbaci {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.prozirno {
	background-color: rgba(125, 125, 125, 0.5);
}

.margine {
	margin: auto;
}

.margine-male {
	margin: 7px;
}
