html,
body {
	font-size: 100%;
}

.vidljivo {
	display: block;
}

.nevidljivo {
	display: none;
}

div.registracija {
	box-sizing: border-box;
	padding: 5px;
	width: 15%;
	border: 2px solid black;
	border-radius: 10px;
	margin: auto;
}

div.prijava {
	box-sizing: border-box;
	border: 2px solid black;
	width: 15%;
	margin: auto;
}

div.registracija input,
div.registracija button {
	display: block;
	margin: auto;
}

.blok.ekipa {
	box-sizing: border-box;
	border: 1px solid greenyellow;
	display: inline-block;
	width: 18%;
	margin: 5px 1px;
}

.blok.ekipa label {
	font-size: 95%;
}
